<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category.name %></title>
  </head>
  <body>
    <h1>Category: <%= category.name %></h1>
    <p>category description</p>

    <h2>Items</h2>
    <%= if (items.length > 0) { %>
    <ul>
      <% items.forEach(item => { %>
      <li>
        <a href="/iitems/<%= item.id %>"><%= item.name %> </a>
      </li>
      <% }) %>
    </ul>
    <% } else {%>
    <p>No items found in this category.</p>
    <% } %>
    <p><a href="/">Back to Categories</a></p>
  </body>
</html>
