<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category.name %></title>
  </head>
  <body>
    <h1>Category: <%= category.name %></h1>
    <p>category description</p>

    <h2>Items</h2>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(item => { %>
      <li>
        <h3><a href="/items/<%= item.id %>"><%= item.name %> </a></h3>
        <p><strong>Brand:</strong> <%= item.brand || 'N/A' %></p>
        <p><strong>Size:</strong> <%= item.size || 'N/A' %></p>
        <p><strong>Price:</strong> <%= item.price || 'N/A' %></p>
        <p><strong>In Stock:</strong> <%= item.quantity_in_stock %></p>
      </li>
      <% }) %>
    </ul>
    <% } else {%>
    <p>No items found in this category.</p>
    <% } %>
    <p><a href="/">← Back to Categories</a></p>
  </body>
</html>
