<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit item</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <%- include('partials/navbar') %>
        <h1>Edit Item</h1>
        <form action="/items/<%= item.id %>/update" method="POST">
          <label for="name">Name:</label>
            <input id="name" type="text" name="name" value="<%= item.name %>" required />
          <label for="brand">Brand:</label>
        
        <input id="brand" type="text" name="brand" value="<%= item.brand || '' %>" />
          <label for="size">Size:</label>
        
        <input id="size" type="text" name="size" value="<%= item.size || '' %>" />
          <label for="price">Price:</label>
        
        <input
        id="price"
          type="number"
          name="price"
          value="<%= item.price || '' %>"
          step="0.01" />
          <label id="quantity">Quantity in stock</label>
       
        <input
        id="quantity"
          type="number"
          name="quantity_in_stock"
          value="<%= item.quantity_in_stock || 0 %>"
        /> 
          <label for="category">Category:</label>
        <select name="category_id" id="category">
            <% categories.forEach(category => { %>
                <option value="<%= category.id %>" <%= category.id === item.category_id ? 'selected' : '' %>>
                    <%= category.name %>
                </option>
          <%  }) %>
        </select> 
          <button type="submit">Update Item</button>
        </form>
        <p class="cancel-link"><a  href="/items/<%= item.id %>">Cancel</a></p>
    </div>
</body>
</html>

