<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <h1 class="title">Clothing Inventory app</h1>
      <div class="dashboard-container">
        <h2>Dashboard</h2>
        <p>Total Categories: <%= categories.length %></p>
        <p>Total Items: <%= items.length %></p>

        <h3>Low Stock Items:</h3>
        <ul class="list">
          <% lowStockItems.forEach(item => { %>
          <li>
            <a href="/items/<%= item.id %>"><%= item.name %></a> - <%=
            item.quantity_in_stock %> left
          </li>
          <% }) %>
        </ul>
      </div>
      <div class="categoriesSection">
        <h2>All Categories</h2>
        <ul class="list">
          <% categories.forEach(category => { %>
          <li>
            <a href="/categories/<%= category.id %>"> <%= category.name %> </a>
          </li>
          <% }) %>
        </ul>
        <a class="add-link" href="/categories/new">Add new category</a>
      </div>
      <!-- <a href="/items">View all items</a> -->
    </div>
  </body>
</html>
