<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= item.name %>></title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/navbar') %>
      <div class="card">
        <h1><%= item.name %></h1>

        <ul>
          <li><strong>Brand:</strong> <%= item.brand %></li>
          <li><strong>Size:</strong> <%= item.size %></li>
          <li><strong>Price:</strong> $<%= item.price %></li>
          <li>
            <strong>Quantity in Stock:</strong> <%= item.quantity_in_stock %>
          </li>
          <li><strong>Category:</strong> <%= item.category_name %></li>
        </ul>
        <a href="/items/<%= item.id %>/edit">Edit</a>
        <button onclick="deleteItem('<%= item.id %>')">Delete</button>
      </div>
      <p>
        <a href="/categories/<%= item.category_id %>"
          >← Back to <%= item.category_name %></a
        >
      </p>
    </div>
  </body>
  <script>
    function deleteItem(id) {
      if (confirm("Are you sure you want to delete this item?")) {
        fetch(`/items/${id}`, {
          method: "DELETE",
        })
          .then((res) => {
            if (!res.ok) {
              return res.text().then((msg) => {
                throw new Error(msg);
              });
            }
            return res.json();
          })
          .then(({ redirectTo }) => {
            window.location.href = redirectTo;
          })
          .catch((err) => {
            console.error(err);
            alert("Delete failed: " + err.message);
          });
      }
    }
  </script>
</html>
